/laravel/node_modules
/hot
/storage
/uploads
/laravel/storage/*.key
/laravel/vendor
/laravel.env
/laravel.env.backup
/laravel.phpunit.result.cache
/laraveldocker-compose.override.yml
/laravelHomestead.json
/laravelHomestead.yaml
/laravelnpm-debug.log
/laravelyarn-error.log
/.idea
/.vscode

.htaccess