.validate-error {
    margin-bottom: 15px;
    color: red;
    margin-top: -15px;
    font-size: 15px;
}

.select2-container .select2-selection--single {
    height: 38px !important;
    border: 1px solid #ced4da;
}
.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 32px;
    padding-left: 0px;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    margin-top: 6px;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #007bff;
    border: 1px solid #007bff;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    color: #fff;
}
.pagination {
    float: right !important;
}
.page-counts {
    margin-top: 13px;
}
.action {
    width: 180px;
}
.table-bordered td,
.table-bordered th {
    vertical-align: middle;
}
.card-body > .table > thead > tr > th a {
    color: inherit !important;
}
.card-footer {
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-schedule::after {
    margin-left: 8px;
}

.search-area {
    margin-bottom: 20px;
}
.search-area h4 {
    margin-top: 3px;
}
.search-area .button-area {
    text-align: right;
}
#search {
    display: none;
}

.form-group label span {
    color: red;
    font-size: 12px;
}

.item-reviews {
    list-style-type: none;
    padding-left: 0px;
}
.item-reviews li {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 15px;
}
.item-reviews li:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}
.item-reviews li .starrr {
    margin-bottom: 10px;
}
.item-reviews li .starrr i {
    font-size: 20px;
}

.notifications .dropdown-item {
    border-bottom: 1px solid #dfdfdf;
}
.notifications .dropdown-item:last-child {
    border-bottom: none;
}
.notifications .dropdown-item h6 {
    margin: 0px;
    font-size: 15px;
}
.notifications .dropdown-item p {
    margin: 0px;
    font-size: 13px;
    margin-top: 5px;
}



.uploads .item{
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.uploads .item i{
    position: absolute;
    top: 10px;
    right: 12px;
    background-color: #fff;
    color: #000;
    padding: 10px 10px;
    border-radius: 4px;
}