/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 2;
    font-size: 18px;
    background: #fff;
    color: #000000;
    font-weight: normal;
    /* overflow-x: hidden; */
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    line-height: 1.2;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
    font-weight: bold;
    line-height: 1.2;
}

p,
ul {
    margin: 0px;
    margin-bottom: 20px;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
    color: inherit;
    text-decoration: none;
}

/* Section */
.section {
    padding-top: 80px;
    text-align: left;
}
.section h2 {
    margin-bottom: 20px;
    color: #000;
    font-size: 38px;
}
.section h2:first-child {
    margin-top: 0px;
}
.section h2 span {
    color: #000;
}
.section p:last-child,
.section ul:last-child {
    margin-bottom: 0px;
}

.section-title h2 b {
    background-color: #fff;
    padding: 0px 15px;
}
.section-title hr {
    margin-top: -55px;
    border-color: #e2e2e2;
    margin-bottom: 60px;
    padding: 0px 15px;
}

.btn {
    background-color: #006e33;
    color: #fff !important;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 30px;
    transition: ease 0.5s;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn:hover {
    background-color: #006e33;
    color: #fff;
    transition: ease 0.5s;
}

/* header */
.topbar {
    background-color: #006e33;
    color: #fff;
    padding: 0px 20px;
}
.topbar .social-area {
    text-align: right;
}
.topbar .social-area ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.topbar .social-area ul li {
    display: inline-block;
    margin: 0px 5px;
}
.topbar .social-area ul li:first-child {
    margin-right: 10px;
}

.topbar .social-area ul li.directions a {
    font-size: 16px;
    background-color: #fff;
    color: #000;
    padding: 2px 10px;
    border-radius: 50px;
    margin-left: 20px;
}

.topbar .welcome-area p {
    margin: 0px;
    font-size: 16px;
}

/* navbar  */
.navbar-main {
    margin-bottom: 0px;
    border: none;
    padding: 10px 30px;
    background-color: #fff;
}
.navbar-main .logo {
    width: 320px;
}
.navbar-main .navbar-nav {
    margin-top: 20px;
}
.navbar-main .navbar-nav > li > a {
    color: #000;
}
.navbar-main .nav > li > a:hover,
.navbar-main .nav > li > a:focus {
    background-color: transparent;
}
.navbar-main .navbar-nav > .open > a,
.navbar-main .navbar-nav > .open > a:hover,
.navbar-main .navbar-nav > .open > a:focus {
    color: #000;
    background-color: transparent;
}
.navbar-main .navbar-toggle,
.navbar-main .navbar-toggle:hover,
.navbar-main .navbar-toggle:focus {
    background-color: #006e33;
}
.navbar-main .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-main .navbar-toggle {
    margin-top: 30px;
}
.navbar-main .navbar-nav > li > .dropdown-menu {
    font-size: 17px;
}
.navbar-main .dropdown-menu > li > a:hover,
.navbar-main .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #006e33;
}
.navbar-main .dropdown-menu > li > a {
    padding: 7px 14px;
    color: #000;
}

.navbar-secondary {
    margin-bottom: 0px;
    background-color: #006e33;
    border-radius: 0px;
    text-align: center;
}
.navbar-secondary .nav-bar {
    color: #fff;
}
.navbar-secondary .navbar-nav > li > a {
    color: #fff;
}
.navbar-secondary .nav > li > a:hover,
.navbar-secondary .nav > li > a:focus {
    background-color: transparent;
}
.navbar-secondary .navbar-nav {
    font-size: 16px;
    float: none;
}

.navbar-secondary .navbar-toggle {
    background-color: #fff;
}
.navbar-secondary .navbar-toggle span {
    background-color: #006e33;
}
.navbar-secondary .navbar-nav > li {
    float: none;
    display: inline-block;
}

/* header.sticky */

/* mainbody */
.mainbody {
}

/* banner-area */
.banner-area {
    /* background-image: url("../img/banner.jpg");
    background-position: 50% 50%;
    background-size: cover; */
}
.banner-area .content {
    /* padding: 220px 0px; */
}
.banner-area .content h1 {
    margin: 0px;
    font-size: 100px;
    color: #fff;
    line-height: 55px;
}
.banner-area .content h1 span {
    font-size: 40px;
}
.banner-area .image-area img{
    width: 100%;
}


/* slider-area  */
.slider-area img{
    width: 100%;
}

.slider-area img.desktop{
    display: block;
}
.slider-area img.mobile{
    display: none;
}

/* news-ticker */
.news-tickers {
    margin-top: 30px;
}
.news-tickers h3 {
    font-size: 22px;
}
/* (A) FIXED WRAPPER */
.hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    background: #eee;
}
/* (B) MOVING TICKER WRAPPER */
.hmove {
    display: flex;
}
/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-weight: normal;
}
.hitem a {
    font-weight: normal;
    text-decoration: underline;
}
/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        transform: translate3d(-400%, 0, 0);
    }
}
.hmove {
    animation: tickerh linear 50s infinite;
}
.hmove:hover {
    animation-play-state: paused;
}

/* home-welcome */
.home-welcome .video-area iframe {
    width: 100%;
    height: 350px;
}

/* home-facilities */
.home-facilities .item {
    margin-top: 40px;
    text-align: center;
}
.home-facilities .item img {
    margin: 0 auto;
    width: 140px;
}
.home-facilities .item h4 {
    margin: 0px;
    margin-top: 20px;
    font-size: 22px;
}

/* home-stats */
.home-stats {
    background-color: #006e33;
    padding-bottom: 50px;
    color: #fff;
    text-align: center;
    margin-top: 80px;
}
.home-stats .item {
    margin-bottom: 30px;
}
.home-stats .item img {
    margin: 0 auto;
    width: 90px;
}
.home-stats .item h5 {
    margin: 0px;
    font-size: 50px;
    margin-top: 20px;
}
.home-stats .item p {
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
}

/* home-committee */
.home-committee {
}
.home-committee .item {
    margin-top: 40px;
    text-align: center;
}
.home-committee .item img {
    margin: 0 auto;
}
.home-committee .item h3 {
    margin: 0px;
    margin-top: 15px;
    font-size: 18px;
}
.home-committee .item p {
    font-size: 15px;
}

/* home-events */
.home-events {
    margin-top: 80px;
    background-color: #f2f2f2;
    padding-bottom: 80px;
}
.home-events .item {
    margin-top: 30px;
    text-align: left;
}
.home-events .item img {
    margin: 0 auto;
}
.home-events .item p {
    margin: 0px;
    font-size: 16px;
    margin-top: 10px;
}
.home-events .item p i {
    margin-right: 5px;
}
.home-events .item h3 {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.home-events .btn-all {
    margin-top: 40px;
}
/* home-contact */
.home-contact iframe {
    width: 100%;
    height: 450px;
    border: none;
}

/* footer */
footer {
    background-color: #282828;
    color: #fff;
    padding: 60px 0px;
}
footer .item img {
    width: 120px;
}
footer .item p {
    font-size: 15px;
    margin: 0px;
    margin-top: 20px;
}
footer .item h4 {
    margin: 0px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
footer .item ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}
footer .item ul li {
}

.title-area {
    background-color: #282828;
    color: #fff;
}
.title-area .content {
    padding: 36px 0px;
}
.title-area .content h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 0px;
}

.under-construction {
    text-align: center;
}
.under-construction h2 {
    margin: 0px;
    font-size: 40px;
}

.about-video-area iframe {
    width: 100%;
    height: 650px;
}

/* contact- page */

.contact-intro {
    text-align: center;
}

.contact-form {
    text-align: left;
}

.contact-form .contact-info {
    background-color: #f5f5f5;
    padding: 0px;
    padding: 25px 25px 150px 25px;
    text-align: left;
}
.contact-form .contact-info h3 {
    margin: 0px;
    margin-bottom: 20px;
}
.contact-form .contact-info p {
    margin: 0px;
}

.contact-form .form-control {
    margin-bottom: 30px;
    border-color: #cccccc;
    border-radius: 0px;
    height: 60px;
    box-shadow: none;
}
.contact-form textarea.form-control {
    height: 180px;
}

.contact-form .btn-submit {
    width: 100%;
    padding: 13px 60px;
    border-radius: 0px;
}

/* map  */
.map-area {
    line-height: 0;
}
.map-area iframe {
    width: 100%;
    height: 470px;
    border: 0px;
}

/* latest-events */
.latest-events {
}
.latest-events .item {
    margin-top: 30px;
    text-align: center;
    box-shadow: 0px 0px 20px 1px #bababa;
}
.latest-events .item img {
    margin: 0 auto;
}
.latest-events .item h3 {
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 30px;
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.latest-events .item .btn-more {
    margin-bottom: 30px;
}

/* events-list */
.events-list {
}
.events-list .item {
    margin-top: 30px;
    text-align: left;
    box-shadow: 0px 0px 20px 1px #bababa;
    padding: 15px 15px;
}
.events-list .item img {
    margin: 0 auto;
}
.events-list .item p {
    margin: 0px;
    font-size: 16px;
    margin-top: 10px;
}
.events-list .item p i {
    margin-right: 5px;
}
.events-list .item h3 {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* updates-list */
.updates-list .item {
    margin-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 30px;
}
.updates-list .item.no-border {
    border: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.updates-list .item .calendar-area {
    background-color: #006e33;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}
.updates-list .item .calendar-area i {
    font-size: 46px;
}
.updates-list .item .calendar-area p {
    margin: 0px;
}
.updates-list .item .content-area h3 {
    margin: 0px;
    margin-bottom: 10px;
}
.updates-list .item .content-area p {
    margin: 0px;
    font-size: 15px;
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.updates-list .item .content-area .btn-more {
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
}

.gallery {
    padding-top: 50px;
}
.gallery .item {
    text-align: center;
    margin-top: 30px;
    box-shadow: 0px 0px 20px 1px #bababa;
    padding: 15px 15px;
}
.gallery .item h3 {
    margin-bottom: 20px;
    height: 47px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 20px;
}
.gallery .item .image-area {
    position: relative;
}
.gallery .item .image-area .counts {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #006e33;
    width: 40px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    line-height: 18px;
    padding: 3px 0px;
}

.single-gallery .item {
    width: 100%;
    height: 245px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}


/* forms-documents */
.forms-documents {

}
.forms-documents .item{
    padding: 15px 0px;
    position: relative;
    border-top: 1px solid #b9b9b9;
    text-align: left;
}
.forms-documents .item .content-area{
    position: relative;
    padding-right: 135px;
}
.forms-documents .item .content-area h4{
    font-size: 16px;
    margin: 0px;
}
.forms-documents .item .icon-area{
    position: absolute;
    top: 6px;
    right: 0px;
    background-color: #006e33;
    color: #fff;
    padding: 0px 15px;
    border-radius: 3px;
}
.forms-documents .item .icon-area span{
    font-size: 15px;
    margin-left: 5px;
}



.page-counts {
    margin: 0px;
    margin-left: 50px;
    font-size: 16px;
    margin-top: 20px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #006e33;
    border-color: #006e33;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #006e33;
    background-color: #eee;
    border-color: #ddd;
}

.possession-process, .transfer-process, .construction-house{
    text-align: left !important;
}


.nocs{

}
.nocs .item{
    background-color:#006e33;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    height: 310px;
    display: table;
}
.nocs .item .content-area{
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
.nocs .item .content-area h4{
    font-size: 24px;
}


/* home-tenders */
.home-tenders {
    
}
.home-tenders .item {
    margin-top: 30px;
    text-align: left;
}
.home-tenders .item img {
    margin: 0 auto;
}
.home-tenders .item p {
    margin: 0px;
    font-size: 16px;
    margin-top: 10px;
}
.home-tenders .item p i {
    margin-right: 5px;
}
.home-tenders .item h3 {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.home-tenders .btn-all {
    margin-top: 40px;
}

/* tenders-list */
.tenders-list {
}
.tenders-list .item {
    margin-top: 30px;
    text-align: left;
    box-shadow: 0px 0px 20px 1px #bababa;
    padding: 15px 15px;
}
.tenders-list .item img {
    margin: 0 auto;
}
.tenders-list .item p {
    margin: 0px;
    font-size: 16px;
    margin-top: 10px;
}
.tenders-list .item p i {
    margin-right: 5px;
}
.tenders-list .item h3 {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}